venv/

# Ігнорувати папку налаштувань Visual Studio Code
.vscode/

.venv/

# Ігнорувати тимчасові файли
*.tmp
*.temp

# Ігнорувати файли логів
*.log

# Ігнорувати папки зі збірками та залежностями (залежно від вашого проекту)
/bin/
/obj/

# Ігнорувати інші системно-специфічні файли
.DS_Store
Thumbs.db
